<div align="center">
  <h4>Enter a date range and a day, week, or month to receive a breakdown of products sold by quantity per day/week/month.</h4>
  <hr>
  <%= form_for :products_sold, :html => { class: "form-inline"}, url: sold_products_path, method: :get do |f| %>
    <%= f.label :from, class: "sr-only" %>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <%= f.text_field :from, class: "form-control datepicker", id: "inlineFormInputGroup", placeholder: "From" %>
    </div>

    <%= f.label :to, class: "sr-only" %>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <%= f.text_field :to, class: "form-control datepicker", id: "inlineFormInputGroup", placeholder: "To" %>
    </div>

    <div class="input-group">
      <%= f.label :option, class: "input-group mr-sm-2" %>
      <%= f.select :option, ['', 'Day', 'Week', 'Month'], class: "custom-select mb-2 mr-sm-2 mb-sm-0", id: "inlineFormCustomSelect", placeholder: "Choose.." %>
    </div>

    <div class="input-group">
      <%= f.submit 'Submit', class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
<hr>

<% if @sold_products %>
  <span><h4 class="col-md-10 color" align="center">Products sold by <%=@option%> between <%=@start_date %> and <%= @end_date %> </h4></span>
  <span class="csv col-md-2 pull-right"><%= table_export_tag('sold_products',{export_link_text: 'Export to CSV', width: '120px', height: '40px', color: '#fff', bgcolor: '#2e6da4'})%></span>
  <div align="center">
      <table id="sold_products" class="table table-striped table-responsive">
        <thead>
          <tr>
            <th class="timestamp" rowspan=2>Timestamp</th>
            <th colspan=2>Product Details</th>
          </tr>
          <tr>
            <th>Product Name</th>
            <th>Product Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @sold_products.each do |timestamp, products| %>
            <td rowspan="<%= products.count + 1%>"><%= timestamp %></td>
            <% products.each do |key,value| %>
            <tr>
              <td><%= key %></td>
              <td><%= value %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>

      </table>
  </div>
<% end %>






